.home-text {
  align-self: center;
}

.home-image {
  max-width: 100%;
  height: auto;
  align-self: flex-start;
}

.home-text h1 h2 p {
  text-align: left;
}

.home-header {
  color: rgb(85, 125, 235);
  font-family: Andale Mono, monospace;
}

.home-subheader {
  color: blue;
}

.home-paragraph {
  color: black;
}

.home-button {
  border-radius: 20px;
}
