nav {
  background-color: #F4F5F7;
  box-shadow: 0 1px 5px 0 darkgray;
}

.logo {
  font-family: Andale Mono, monospace;
  margin-top: auto;
  margin-bottom: auto;
}

.navbar-brand {
  padding-left: 2vw;
}

.navbar-nav {
  padding-right: 2vw;
}