.news-feed-page {
  background-color: white;
}

.date-box {
  margin-top: 20px;
}

.coin-select {
  margin: 10px;
}

.current-price {
  margin-bottom: 10px;
}

.articles {
  height: 562px;
  overflow-x: hidden;
  overflow-y: scroll;
}