.news-feed-page {
  background-color: white;
}

.articles {
  margin: auto;
}

.date-box {
  margin-top: 20px;
}

.coin-select {
  margin: 10px;
}

.current-price {
  margin-bottom: 10px;
}

.sortBy-select {
  max-width: 251px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}