.coin-list {
  background-color: white;
}

.coin {
  margin-bottom: 20px;
}

.coin-image {
  height: 35px;
  width: 15%;
}

.coin-name {
  padding: 5px;
}

.coin-headers {
  background-color: lightgray;
  padding: 10px;
  margin-bottom: 10px;
}

.coin-headers div {
  padding-left: 40px;
}
