.coin-list {
  background-color: white;
}

.mobile-coin-list {
  background-color: white;
  font-size: 9px;
}

.coin {
  margin-bottom: 20px;
}

.coin-image {
  height: 35px;
  width: 15%;
}

.coin-headers {
  background-color: lightgray;
  padding: 10px;
  margin-bottom: 10px;
}

.coin-headers div {
  padding-left: 40px;
}

.mobile-coin-rank {
  width: 0;
}